:root {
  --pipe-width: 40px;
  --clouds-width: 250px;
  --mario-jump: 90px;
  --colision: 0px solid red;
  --z-index-max: 100;
  --start-menu-color: rgba(153, 153, 153, 0.823);
  --global-max-width: 500px;
  --global-max-height: 1000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  max-width: var(--global-max-width);
  max-height: var(--global-max-height);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 100%;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  background: linear-gradient(skyblue, transparent);
}

.dashboard {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  background: green;
}

.dashboard * {
  width: 30%;
  transition: background 0.3s;
  border-radius: 4px;
  padding: 6px;
  border: var(--colision);
  text-align: center;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 128, 0, 0.5));
  z-index: var(--z-index-max);
}

.creator {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 20px;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.a_sep {
  display: flex;
  gap: 10px;
}

.a_sep a,
.creator label {
  display: flex;
  background: var(--start-menu-color);
  gap: 8px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  align-items: center;
  justify-content: center;
}

.creator span {
  display: flex;
  align-items: center;
  width: max-content;
}

.loose {
  display: none;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 192, 203, 0.5));
  z-index: var(--z-index-max);
  position: absolute;
  top: 0;
  left: 0;
}

.loose .wrapper,
.start .wrapper {
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.start button,
.loose button {
  padding: 10px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background: green;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: transform 0.1s;
  max-width: 90%;
}

.start button:active,
.loose button:active {
  transform: scale(1.03);
}

.game-over,
.start img,
.loose img {
  max-width: 90%;
  position: relative;
  top: 2px;
}

.clouds {
  width: var(--clouds-width);
  position: absolute;
  right: 0;
  top: 15%;
  animation: clouds 15s linear infinite;
}

.mario {
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  border: var(--colision);
}

.jump {
  animation: jump 600ms ease-out infinite;
}

.pipe {
  width: var(--pipe-width);
  position: absolute;
  bottom: 0;
  right: calc(var(--pipe-width) * -2);
  z-index: 2;
  animation: none;
  border: var(--colision);
}

.modmenu {
  position: absolute;
  top: 100px;
  right: 50%;
  transform: translate(50%);
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: rgb(0, 128, 0, 0.4);
  padding: 0.5rem;
  border-radius: 5px;
}

.modmenu button {
  border-radius: 3px;
  padding: 5px;
  border: none;
  width: 200px;
}

@keyframes pipe {
  from {
    right: calc(var(--pipe-width) * -1);
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: var(--mario-jump);
  }
  50% {
    bottom: var(--mario-jump);
  }
  60% {
    bottom: var(--mario-jump);
  }
  100% {
    bottom: 0;
  }
}

@keyframes clouds {
  from {
    right: calc(var(--clouds-width) * -1);
  }
  to {
    right: 100%;
    top: 20%;
  }
}
